            /* My Style Sheet */
            /* SKELETON */
            
            * {
                box-sizing: border-box;
            }
            
            html {
                scroll-behavior: smooth;
            }
            
            body {
                padding: 0;
                margin: 0;
            }
            
            section {
                display: block;
                padding: 0 4em 5em;
            }
            /* Headings */
            
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: lato;
                color: #2E2E2E
            }
            
            p {
                font-family: lato;
                color: #717171;
                line-height: 1.5;
                text-align: center;
            }
            /* Header at top of webpage, contains the nav bar */
            
            #header-top {
                padding: 1em 4em;
                font-family: roboto;
                width: 100%;
                /* Surrounds nav box */
            }
            
            nav {
                padding: 10px 20px 80px 20px;
                background-color: #F7F5EB;
            }
            
            .logo {
                float: left;
            }
            
            .main-menu {
                float: right;
                /* Add padding to centre links */
                padding-top: 20px;
            }
            
            .main-menu a {
                padding: 15px 0;
                /* Add space between links */
                margin-left: 40px;
                font-size: 18px;
                /* Removes underline */
                text-decoration: none;
                font-weight: 500;
                color: black;
                position: relative;
                -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }
            /* Changes font color upon hover */
            
            .main-menu a:hover,
            .main-menu a:focus {
                color: #BA6B57;
            }
            /* Underlines links upon hover - but not for last child link ie send email */
            
            .main-menu a:not(:last-child):hover:after,
            .main-menu a:not(:last-child):focus:after {
                width: 100%;
                left: 0;
            }
            /* Underlines links when hover */
            
            .main-menu a:after {
                top: 40px;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                width: 0;
                background: #BA6B57;
                -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
            }
            
            .main-menu a:first-child {
                margin: 0;
            }
            /* Last child link */
            
            .main-menu a:last-child {
                border: 2px solid #BA6B57;
                padding: 8px 16px !important;
                font-size: 17px;
                border-radius: 20px;
                text-align: center;
                color: #BA6B57;
            }
            /* Hover effect for the last link */
            
            .main-menu a:last-child:hover,
            .main-menu a:last-child:focus {
                background-color: #BA6B57;
                color: white;
            }
            /* Introduction Section */
            
            #intro {
                padding-top: 3em;
                position: relative;
            }
            
            #intro div {
                display: inline-table;
            }
            
            #intro-info {
                width: 50%;
                float: left;
                margin-top: 5.8%;
            }
            
            #intro-info h1 {
                font-size: 50px;
                font-weight: 600;
                margin: 0px 0 30px;
            }
            
            #intro-info span {
                display: block;
                font-weight: 600;
                padding: 0 0 55px;
                font-size: 23px;
            }
            
            #intro-img {
                width: 50%;
                text-align: right;
            }
            
            #intro-img img {
                height: 300px;
                width: 500px;
            }
            /* Countdown Timer */
            
            #timer {
                font-size: 3em;
                font-weight: 100;
                color: white;
                text-shadow: 0 0 20px #FAAB78;
                background: #8B7E74;
                text-align: center;
                padding: 50px;
                font-family: roboto;
            }
            
            #timer div {
                display: inline-block;
                min-width: 120px;
            }
            
            #timer div span {
                color: #FAAB78;
                display: block;
                font-size: .45em;
                font-weight: 400;
            }
            /* Image Carousel */
            
            #slideshow-test {}
            
            .slideshow {
                width: 80%;
                height: 360px;
                position: relative;
                text-align: center;
                line-height: 400px;
                padding-bottom: 30px;
                margin: 40px auto;
                transition: all 0.5s ease;
            }
            
            .slider-text {
                float: left;
                width: 55%;
                padding-left: 2em;
            }
            
            .buy-btn {
                text-decoration: none;
                background-color: transparent;
                border: 2px solid #BA6B57;
                color: #BA6B57;
                padding: 6px 16px;
                border-radius: 20px;
                font-size: 17px;
                font-family: roboto;
                position: relative;
                z-index: 100;
                -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }
            
            .buy-btn:hover,
            .buy-btn:focus {
                background-color: #BA6B57;
                color: white;
            }
            
            .slider-img {
                float: right;
                width: 45%;
                padding-right: 2.5em;
            }
            
            .slider-img img {
                width: 100%;
                height: 300px;
                position: relative;
                z-index: 100;
            }
            /* slideshow item */
            
            .slideshow--item {
                width: 100%;
                height: 300px;
                line-height: 1.5;
                position: absolute;
                top: 0;
                overflow: hidden;
                visibility: hidden;
            }
            
            .slideshow--bullet:checked+.slideshow--item {
                visibility: visible;
            }
            
            .slideshow[data-transition="fade"] .slideshow--item {
                visibility: visible;
                opacity: 0;
                transition: .3s ease-out opacity;
            }
            
            .slideshow[data-transition="fade"] .slideshow--bullet:checked+.slideshow--item {
                opacity: 1;
            }
            /* slideshow navigation */
            
            .slideshow--nav {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 50%;
                display: none;
                z-index: 88;
                cursor: pointer;
                color: transparent;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            
            .slideshow--nav:after {
                display: block;
                content: '\276F';
                /*\25BA*/
                font-size: 1.2em;
                color: rgba(0, 0, 0, 0.4);
                background-color: transparent;
                /*rgba(0, 0, 0, 0.2)*/
                position: absolute;
                height: 50px;
                top: 50%;
                right: -35px;
                padding-right: 40px;
                padding-top: 25px;
                padding-left: 10px;
                border-radius: 50%;
                margin-top: -1.5em;
                transition: all 0.5s ease;
            }
            
            .slideshow--nav:hover:after {
                background-color: transparent;
                /*rgba(0, 0, 0, 0.6)*/
                color: rgba(0, 0, 0, 0.8);
            }
            
            .slideshow--nav-previous {
                left: -45px;
                display: block;
            }
            
            .slideshow--nav-previous:after {
                -webkit-transform: scaleX(-1);
                -moz-transform: scaleX(-1);
                transform: scaleX(-1);
                right: auto;
                left: 10px;
            }
            
            .slideshow--nav-next {
                left: 50%;
                display: block;
            }
            /* Radiobuttons to control the slideshow */
            
            .slideshow--bullet {
                font-size: .75em;
                width: 8px;
                height: 8px;
                display: inline-block;
                position: relative;
                margin: 8px 8px -120px;
                z-index: 99;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: #8d8d8d;
                border-radius: 50%;
                transition: all 0.5s ease;
                z-index: 100;
            }
            
            .slideshow--bullet:checked {
                background: #333;
                outline: none;
            }
            
            @media only screen and (max-width: 980px) {
                .slideshow {
                    width: 100%;
                    height: 340px;
                    /*use to be 200px*/
                }
                .slideshow--bullet {
                    margin: 8px 8px -110px;
                }
                .button-test {
                    margin-top: 80px;
                }
                .slider-text h1 {
                    font-size: x-large;
                }
            }
            
            @media only screen and (max-width: 402px) {
                .slideshow {
                    width: 100%;
                    height: 150px;
                }
                .slideshow--bullet {
                    margin: 8px 8px -100px;
                }
                .button-test {
                    margin-top: 120px;
                }
                .slider-text h1 {
                    font-size: x-large;
                }
            }
            
            @media only screen and (min-width:100px) and (max-width: 402px) {
                .slideshow {
                    width: 100%;
                    height: 320px;
                }
                .slideshow--bullet {
                    margin: 8px 8px -100px;
                }
                .button-test {
                    margin-top: 120px;
                }
                .slider-text h1 {
                    font-size: x-large;
                }
            }
            /* Email form */
            
            #email {
                background-color: #f6f6f6;
                height: 51em;
                padding: 0.1em 0 0 0;
            }
            
            .contact-elements {
                position: relative;
                width: 100%;
            }
            
            input.input-field,
            .tel-number-field,
            .textarea-field,
            .select-field {
                -webkit-transition: all 0.30s ease-in-out;
                -moz-transition: all 0.30s ease-in-out;
                -ms-transition: all 0.30s ease-in-out;
                -o-transition: all 0.30s ease-in-out;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                border: 1px solid #C2C2C2;
                box-shadow: 1px 1px 4px #EBEBEB;
                -moz-box-shadow: 1px 1px 4px #EBEBEB;
                -webkit-box-shadow: 1px 1px 4px #EBEBEB;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                padding: 7px;
                outline: none;
            }
            
            .input-field:focus,
            .tel-number-field:focus,
            .textarea-field:focus,
            .select-field:focus {
                border: 1px solid #BA6B57;
            }
            
            div.contact,
            textarea,
            input {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
            
            .contact {
                color: #fff;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                line-height: 20px;
            }
            
            .contact h2 {
                font-size: 50px;
            }
            
            .headline {
                font-size: 50px;
            }
            
            .center-btn {
                text-align: center;
            }
            
            .container {
                max-width: 510px;
                min-width: 300px;
                margin: 50px auto 0px;
                padding-bottom: 46px;
                background-color: #fff;
                border: 1px solid #cfcfcf;
                border-bottom: 3px solid #ccc;
                border-radius: 5px;
            }
            
            .row {
                width: 100%;
                margin: 0 0 1em 0;
                padding: 0 2.5em;
            }
            
            .row.header {
                padding: 1.5em 2.5em;
                border-bottom: 1px solid #ccc;
                background-color: #D6D2C4;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                text-align: center;
            }
            
            .row.body {
                padding: .5em 2.5em 1em;
            }
            
            div.contact-elements p.pull-right {
                float: right;
            }
            
            div.contact-elements p.left {
                float: left;
            }
            
            .btn {
                font-size: 1.0625em;
                display: inline-block;
                padding: 0.74em 1.5em;
                margin: 1.5em 0 0;
                color: #fff;
                border-width: 0 0 0 0;
                border-radius: 5px;
                text-transform: uppercase;
                background-color: #b3b3b3;
                border-bottom-color: #8c8c8c;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                box-shadow: 1px 1px 4px #ccc;
                -moz-box-shadow: 1px 1px 4px #ccc;
                -webkit-box-shadow: 1px 1px 4px #ccc;
            }
            
            .btn:hover {
                background-color: #bfbfbf;
            }
            
            .btn.btn-submit {
                color: #8B7E74;
                border: solid 2px #8B7E74;
                background-color: transparent;
                width: 100%;
                text-align: center;
            }
            
            .btn.btn-submit:hover {
                background-color: #8B7E74;
                color: white;
            }
            
            .contact-elements {
                max-width: 100%;
                display: block;
            }
            
            .contact-elements ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            
            .contact-elements ul li {
                margin: 0 0 0.25em 0;
                clear: both;
                display: inline-block;
                width: 100%;
            }
            
            .contact-elements ul li:last-child {
                margin: 0;
            }
            
            .contact-elements ul li p {
                margin: 0;
                padding: 0;
                float: left;
            }
            
            .contact-elements ul li p.right {
                float: right;
            }
            
            .contact-elements ul li .divider {
                border: 0;
                margin-top: 60px;
                margin-bottom: 15px;
                border-bottom: 1px dashed #ccc;
                background: #eaeaea;
                opacity: .5;
            }
            
            .contact-elements ul li,
            .req {
                font-size: 15px;
                color: #8B7E74;
                font-variant: small-caps;
                text-transform: lowercase;
                font-weight: bolder;
            }
            
            .contact-elements label {
                display: block;
                margin: 0 0 0.5em 0;
                color: #8B7E74;
                font-size: 1em;
            }
            
            .contact-elements input {
                margin: 0 0 0.5em 0;
                border: 1px solid #ccc;
                padding: 6px 10px;
                color: #555;
                font-size: 1em;
            }
            
            .contact-elements textarea {
                border: 1px solid #ccc;
                padding: 6px 10px;
                width: 100%;
                color: #555;
                resize: none;
                overflow: auto;
            }
            
            .contact-elements small {
                color: #8B7E74;
                margin: 0 0 0 0.5em;
            }
            
            @media only screen and (max-width: 900px) {
                .div.contact-elements p.pull-right {
                    float: none;
                }
                .center-btn {
                    text-align: center;
                }
                input {
                    width: 100%;
                }
                label {
                    width: 100%;
                    display: inline-block;
                    float: left;
                    clear: both;
                }
                li,
                p {
                    width: 100%;
                }
                input.btn {
                    margin: 0 0 0.5em 0;
                }
                li small {
                    display: none;
                }
            }
            /* Back to top button */
            
            #scroll {
                position: fixed;
                right: 15px;
                bottom: 15px;
                cursor: pointer;
                width: 50px;
                height: 50px;
                background-color: white;
                color: black;
                text-indent: -9999px;
                display: none;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                z-index: 199;
            }
            
            #scroll span {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -8px;
                margin-top: -12px;
                height: 0;
                width: 0;
                border: 8px solid transparent;
                border-bottom-color: #555555;
                z-index: 199;
            }
            
            #scroll:hover {
                border: #555555 1px solid;
                opacity: 1;
                filter: "alpha(opacity=100)";
                -ms-filter: "alpha(opacity=100)";
            }
            /* Footer */
            
            footer {
                background-color: #555555;
                padding: 3em 4em 2em;
            }
            
            #copyright {
                text-align: center;
                color: #fff;
                font-family: roboto;
            }
            
            #owner {
                text-align: center;
                padding: 20px 0 0px;
                color: #fff;
                font-family: roboto;
                font-size: 25px;
            }
            
            #owner a {
                color: #fff;
            }
            /* ------------------------------------------------------ */
            /* <---- Desktop and Laptop Screens ----> */
            /* ------------------------------------------------------ */
            
            @media only screen and (max-width:1280px) {
                #intro {
                    padding-bottom: 3em;
                }
                #intro-info {
                    width: 45%;
                }
                #intro-info h1 {
                    font-size: 36px;
                }
                #intro-img {
                    width: 55%;
                }
                #intro-img img {
                    height: 300px;
                    width: 500px;
                }
            }
            
            @media only screen and (min-width: 1025px) and (max-width: 1037px) {
                #intro {
                    padding-bottom: 3em;
                }
                #intro-info {
                    width: 45%;
                }
                #intro-info h1 {
                    font-size: 36px;
                }
                #intro-img {
                    width: 55%;
                }
                #intro-img img {
                    height: 280px;
                    width: 460px;
                }
            }
            /* ------------------------------------------------------ */
            /* <---- iPads to Smartphone for Common Elements ----> */
            /* ------------------------------------------------------ */
            
            @media only screen and (max-width: 1024px) {
                nav {
                    /* Covers the nav bar visible on larger screens */
                    padding: 0;
                }
                /* Position menu button on right */
                .menu-btn {
                    height: 32px;
                    width: 40px;
                    cursor: pointer;
                    z-index: 2;
                    position: absolute;
                    right: 0;
                    padding-right: 4em;
                    padding-top: 0.4em;
                    top: 1.75em;
                }
                /* Menu button - first 2 lines */
                .menu-btn span,
                .menu-btn span::before,
                .menu-btn span::after {
                    background: #BA6B57;
                    content: '';
                    position: absolute;
                    width: 40px;
                    height: 6px;
                    margin-top: 13px;
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    -webkit-transition: .5s ease-in-out;
                    transition: .5s ease-in-out;
                }
                /* Menu button - last line */
                .menu-btn span::before {
                    margin-top: -12px;
                }
                .menu-btn span::after {
                    margin-top: 12px;
                }
                .menu-btn.active span {
                    background: transparent;
                }
                /* Animated x to close menu - one side of x */
                .menu-btn.active span::before {
                    margin-top: 0;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                /* Animated x to close menu - other side of x */
                .menu-btn.active span::after {
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    margin-top: 0;
                }
                #header-top {
                    position: relative;
                    padding-bottom: 0;
                }
                /* Logo */
                #header-top .logo {
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    padding-top: .05em;
                    font-size: 40px;
                    left: 0;
                    padding-left: 1em;
                }
                /* Menu button visible */
                /* can change background color */
                .main-menu {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #F7F5EB;
                    width: 100%;
                    padding: 1em 2em 2em;
                    z-index: 1;
                    -webkit-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
                }
                .main-menu.active {
                    /* Padding for side bar */
                    padding-top: 5em;
                }
                /* Removes the links so only menu button is visible and centered */
                /* Styling the side bar */
                .main-menu a {
                    display: list-item;
                    text-align: right;
                    width: 100%;
                    list-style-type: none;
                    margin: 0;
                    color: black;
                    pointer-events: none;
                    line-height: 0;
                    padding: 0 2em 0 0;
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: all .6s ease-in-out;
                    transition: all .6s ease-in-out;
                }
                /* Styling the side bar */
                /* Send email link */
                .main-menu a:last-child {
                    background-color: #F7F5EB;
                    color: #BA6B57;
                    border-color: #BA6B57;
                    width: 120px;
                    float: right;
                    text-align: center;
                    margin-top: 20px;
                }
                .main-menu a.active {
                    pointer-events: auto;
                    line-height: 1.3;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    opacity: 1;
                    visibility: visible;
                }
                /* Line disappears upon hover */
                .main-menu a.active:hover {
                    background-color: #BA6B57;
                }
                .main-menu a.active:first-child {
                    border-top: 1px solid;
                    margin-top: 18px;
                    padding-top: 15px;
                }
                /* Font color for links */
                .main-menu a span {
                    color: black;
                }
                .main-menu a:after {
                    display: none;
                }
                /* Introduction Section */
                #intro-info {
                    width: 40%;
                }
                #intro-info h1 {
                    font-size: 28px;
                    margin: 60px 0 20px;
                }
                #intro-info span {
                    font-size: 19px;
                    padding: 0 0 45px;
                }
                #intro-img {
                    width: 60%;
                    padding-top: 60px;
                }
                #intro-img img {
                    height: 300px;
                    width: 500px;
                }
            }
            /* ------------------------------------------------------ */
            /* <---- iPads (portrait) ----> */
            /* ------------------------------------------------------ */
            
            @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
                section {
                    padding: 0 3em 2em;
                }
                #intro-info {
                    width: 100%;
                    text-align: center;
                }
                #intro-info h1 {
                    font-size: 25px;
                    margin: 20px 0 20px;
                }
                #intro-info span {
                    font-size: 19px;
                    padding: 0 0 45px;
                }
                #intro-img {
                    width: 100%;
                    padding-top: 10px;
                    text-align: center;
                }
                #intro-img img {
                    height: 300px;
                    width: 500px;
                }
            }
            /* ------------------------------------------------------ */
            /* <---- iPads (landscape) ----> */
            /* ------------------------------------------------------ */
            
            @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
                section {
                    padding-bottom: 2em;
                }
                #intro {
                    padding-top: 4em;
                    padding-bottom: 3em;
                }
                #intro-info {
                    margin-top: 4.8%;
                    width: 40%;
                }
                #intro-info h1 {
                    font-size: 23px;
                    margin: 30px 0 20px;
                }
                #intro-info span {
                    font-size: 20px;
                    padding: 0 0 45px;
                }
                #intro-img {
                    width: 60%;
                }
                #intro-img img {
                    height: 200px;
                    width: 330px;
                }
            }
            /* ------------------------------------------------------ */
            /* <---- Mini Tablet and Big Mobile (Landscape) ----> */
            /* ------------------------------------------------------ */
            
            @media only screen and (min-width: 640px) and (max-width: 760px) and (orientation: landscape) {
                section {
                    padding: 0 2em 3em;
                }
                #intro {
                    padding-bottom: 2em;
                    padding-right: 2em;
                    padding-left: 2em;
                }
                #intro-info {
                    width: 40%;
                    margin-top: 2.8%;
                }
                #intro-info h1 {
                    font-size: 22px;
                    margin: 40px 0 15px;
                }
                #intro-info span {
                    font-size: 17px;
                    padding: 0 0 35px;
                }
                #intro-img {
                    width: 60%;
                }
                #intro-img img {
                    height: 180px;
                    width: 300px;
                }
            }
            /* ------------------------------------------------------ */
            /* <---- Mini Tablet and Big Mobile (Portrait) ----> */
            /* ------------------------------------------------------ */
            
            @media only screen and (min-width: 610px) and (max-width: 760px) and (orientation: portrait) {
                section {
                    display: block;
                    padding: 0 2em 5em;
                }
                #intro {
                    padding-bottom: 2em;
                    padding-top: 1em;
                }
                #intro-info h1 {
                    font-size: 26px;
                }
                #intro-info span {
                    padding: 0 0 45px;
                    font-size: 20px;
                }
                #intro-tag-btn {
                    position: absolute;
                    display: block !important;
                    bottom: 60px;
                    width: 100%;
                    left: 0;
                    right: 0;
                }
                #intro-info,
                #intro-img {
                    display: block !important;
                    width: 100%;
                    text-align: center;
                }
            }
            /* ------------------------------------------------------ */
            /* <---- Mini Tablet ----> */
            /* ------------------------------------------------------ */
            
            @media only screen and (max-width: 600px) {
                section {
                    display: block;
                    padding: 0 2em 5em;
                }
                #intro {
                    padding-bottom: 2em;
                    padding-top: 1em;
                }
                #intro-info h1 {
                    font-size: 26px;
                }
                #intro-info span {
                    padding: 0 0 45px;
                    font-size: 20px;
                }
                #intro-tag-btn {
                    position: absolute;
                    display: block !important;
                    bottom: 60px;
                    width: 100%;
                    left: 0;
                    right: 0;
                }
                #intro-info,
                #intro-img {
                    display: block !important;
                    width: 100%;
                    text-align: center;
                }
            }
            /* ------------------------------------------------------ */
            /* <---- Smartphones (portrait and landscape) ----> */
            /* ------------------------------------------------------ */
            
            @media only screen and (max-width: 480px) {
                #header-top .logo {
                    padding-top: .05em;
                    font-size: 30px;
                    padding-left: .6em;
                }
                .mainMenu a.active:first-child {
                    margin-top: 15px;
                }
                section {
                    padding: 0 1em 3em;
                }
                #intro {
                    padding: 0em 1em 2em 1em;
                }
                #intro-img img {
                    height: 240px;
                    width: 400px;
                }
            }
            /* ------------------------------------------------------ */
            /* <---- Small Devices (portrait and landscape) ----> */
            /* ------------------------------------------------------ */
            
            @media only screen and (max-width: 390px) {
                #intro {
                    padding: 0 0 1.5em 0;
                }
                #intro-info h1 {
                    font-size: 20px;
                }
                #intro-img img {
                    height: 180px;
                    width: 300px;
                }
                #intro-tag-btn {
                    width: 90%;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            /* ------------------------------------------------------ */
            /* <---- X-Tra Small Devices  (portrait and landscape) ----> */
            /* ------------------------------------------------------ */
            
            @media only screen and (max-width: 320px) {
                #intro {
                    padding: 0 0 1.5em 0;
                }
                #intro-info h1 {
                    font-size: 18px;
                }
                #intro-img img {
                    height: 160px;
                    width: 265px;
                }
            }
            /* ------------------------------------------------------ */
            /* <---- Less than 300px screens ----> */
            /* ------------------------------------------------------ */
            
            @media only screen and (min-width: 190px) and (max-width: 260px) {
                #intro {
                    padding: 0 0 0.5em 0;
                }
                #intro-info h1 {
                    font-size: 18px;
                }
                #intro-img img {
                    height: 100px;
                    width: 165px;
                }
            }